.body {
    background-color: rgb(247, 242, 235);
    height: max-content;
}

table {
    padding: 30px;
    margin: 10px;
    border: solid 2px black;
    background-color: white;
}

table thead {
    margin-bottom: 20px;
}

table img {
    width: 100px;
    height: 100px;
}

table th td {
    text-align: center;
}