.body {
    background-color: rgb(247, 242, 235);
    height: max-content;
}

table {
    padding: 30px;
    margin: 10px;
    border: solid 2px black;
    background-color: white;
}



table img {
    width: 100px;
    height: 100px;
}



.quantity {
    margin: 15px 0px;
}

.input-quantity {
    max-width: 40px;

}