.body {
    background-color: white;
    margin: 30px;
    padding: 20px;
}

.main {
    background-color: rgb(247, 238, 226);

}



.table {
    border: 0px;
}



.has-child-left {
    margin: 20px 30px 40px 10px;
}

.row {
    margin: 20px 0px;
}

.avatar img {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    margin-left: 100px;
}